<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SLACK_URL" value="https://hooks.slack.com/services/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"/>
    <add key="MACHINE" value="localhost"/>

    <add key="SMTP_HOST" value="my.smtp.server"/>
    <add key="SMTP_USER_NAME" value="mysmtpuser"/>
    <add key="SMTP_USER_PASSWORD" value="mysmtppassword"/>
    <add key="EMAIL_FROM_ADDRESS" value="myemail@domain.com"/>
    <add key="EMAIL_FROM_DISPLAY" value="My Name"/>
    <add key="EMAIL_SUBJECT" value="Alert From Server: "/>
    <add key="SMTP_PORT" value="smtp port"/>
    <add key="TO_EMAILS" value="myname@domain.com,myname1@domain.com,myname2@domain.com"/>
    <add key="AVAILABLE_FREE_SPACE_THRESHOLD_IN_MB" value="500"/>
    <add key="AVAILABLE_FREE_MEMORY_THRESHOLD_IN_PERCENTAGE" value="30"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
